<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chipset.techtatva"
    android:screenOrientation="portrait"
    android:versionCode="5"
    android:versionName="1.0.4" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventsActivity"
            android:icon="@drawable/ic_launch"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:icon="@drawable/ic_launch"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:icon="@drawable/ic_launch"
            android:label="@string/title_activity_web_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:icon="@drawable/ic_launch"
            android:label="@string/title_activity_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DeveloperActivity"
            android:icon="@drawable/ic_launch"
            android:label="@string/title_activity_developer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InstaFeedActivity"
            android:icon="@drawable/ic_launch"
            android:label="@string/title_activity_insta_feed"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FeaturedEventsActivity"
            android:icon="@drawable/ic_launch"
            android:label="@string/title_activity_featured_events"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>